<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<title>Incoming messages</title>
<link rel="stylesheet" href="{{ static_url("bootstrap.min.css")  }}" type="text/css"/>
</head>
<body>
    <div id="container">
        <div class="row">
            <div class="col-md-4">Соединения в данный момент:<br>
                <div id="conns"></div>
            </div>
            <div class="col-md-4" id="msg"></div>
        </div>
    </div>
    </div>
<script src="{{ static_url("jquery-2.1.4.min.js") }} type="text/javascript"></script>
<script src="{{ static_url("messages.js")  }}" type="text/javascript"></script>
</body>
</html>
